// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Personal Color Scheme
$my-purple: #471F44;
$my-salmon: #9D5C63;
$my-gray: #393D3F;
$my-beige: #F7F4F3;
$my-light-blue: #F2F8F9;
$my-orange: rgb(120, 66, 25);
