// Import Google fonts
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,400,400i,700&display=swap');


// Define fonts for body and headers
// $body-font: 'Source Sans Pro', sans-serif;
// $headers-font: 'Source Sans Pro', sans-serif;
$body-font: 'Roboto', sans-serif;
$headers-font: 'Roboto', sans-serif;

body {
  h1 {
    font-size: 32px;
    font-weight: 700;
  }
  h2 {
    font-size: 28px;
    font-weight: 400;
  }
  h3 {
    font-size: 24px;
    font-weight: 200;
  }
  h4 {
    font-weight: 700;
    font-size: 20px;
  }
  h5 {
    font-weight: 400;
    font-size: 20px;
  }
  p {
    font-size: 16px;
    font-weight: 200;
  }
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
