<p>Bonjour,</p>

<p>Vous êtes bien inscrit sur Breakfree. N'hésitez pas à venir compléter votre dossier depuis votre <%= link_to "espace personnel", root_url %>.</p>

<p>Merci pour votre confiance.</p>

<p>L'équipe Breakfree</p>
