Specific CSS for your home-page
.category-choices {
  height: 35vh;
  text-align: center;
  display: flex;
  justify-content: center;
}

.home-signed-in {
  height: 40vh;
  margin: -50px;
  z-index: 1;
  position: relative;
}

.explanations {
  background: linear-gradient(#fae7db, #fff8f3);;
  padding: 16px;
  position: relative;
  height:65vh;
  color: $my-purple !important;
  h3 {
    font-weight: 400;
  }
  h5 {
    font-weight: 200;
  }
}

.explanations {
  .first-title{
    position: relative;
    top: 50px;
    left: 100px;
  }
  .second-title {
    position: relative;
    text-align: right;
    left: 800px;
    top: 0px;
  }
}

.img-small {
  width: 50%;
  margin: 8px;
}

.img-medium {
  width: 130%;
}

.reinsurance-banner {
  background-color: $my-light-gray;
  height:450px;
}

#icon-reinsurance {
  font-size: 70px;
  color: #372C44;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-layer {
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    color: white;
    font-size: 28px;
  }
  p {
    color: white;
    font-size: 24px;
  }
}

.stats {
  background-color: #372C44;
}

.theme-title {
  position: absolute;
  top: -90px;
  strong {
    color: $my-purple;
  }
}


.home-banner {
  position:relative;
  background-color: #372C44;
  background-image: url('https://cdn.dribbble.com/users/150724/screenshots/6699266/lighthouse.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  width:100%;
  height:65vh;
  color: white;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}


.home-launch-title {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 16px;
}

.home-banner svg{
  position:absolute;
  bottom:-40px;
  left:0;
  display:block;
  background-size: cover;
  width: 100%;
  display: block;
}


