// Specific CSS for your home-page
.home-banner {
  height: 35vh;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 250px;
  text-align: center;
  background-color: $my-light-gray;
  .img-large {
    width: 100%;
  }
  strong {
    color: $my-purple;
  }
}

.home-signed-in {
  height: 40vh;
  margin: -50px;
  z-index: 1;
  position: relative;
}

.launch {
  height: 60vh;
  background-color: white;
  right: 197px;
  top: 870px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // max-width: 1066px !important ;
}

.explanations {
  background-color: #7E4E60;
  padding: 16px;
  position: relative;
  height:450px;
  h1 {
    color: white;
    font-size: 28px;
    font-weight: 500;
  }
  h3 {
    font-size: 20px;
  }
}

.explanations-blocs {
  position: absolute;
  top: -152px;
  right: 330px;
  left: -181px;
  .first-title{
    position: absolute;
    top: 279px;
    left: -60px;
  }
  .second-form {
    top: -364px;
    right: -345px;
  }
  .second-title {
    position: absolute;
    text-align: right;
    top: -98px;
    right: -406px;
  }
}

.img-small {
  width: 50%;
  margin: 8px;
}

.img-medium {
  width: 130%;
}

.reinsurance-banner {
  background-color: $my-light-gray;
  height:450px;
}

#icon-reinsurance {
  font-size: 70px;
  color: #372C44;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-layer {
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    color: white;
    font-size: 35px;
  }
  p {
    color: white;
    font-size: 28px;
  }
}

.stats {
  background-color: #372C44;
}

.theme-title {
  position: absolute;
  top: -90px;
  strong {
    color: $my-purple;
  }
}


#section1 {
  position:relative;
  background-color: #372C44;
  background-image: url('https://cdn.dribbble.com/users/150724/screenshots/6699266/lighthouse.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.75);
  padding-left: 35vh;
  padding-top: 15vh;
  width:99%;
  height:65vh;
  text-align: center;
}

svg{
  position:absolute;
  bottom:-40px;
  left:0;
  display:block;
  background-size: cover;
  width: 100%;
  display: block;
}

.category-choices {
  position: absolute;
}
