
.card-incident {
  display: flex;
  width: 100%;
  height: 65px;
  margin: auto;
  margin-bottom: 16px;
  padding: 16px;
  justify-content: space-between;
  background-color: $my-light-blue;
  border-radius: 4px;
}
.new_testimony_contacts{
  display: flex;
  justify-content: space-around;
  .new_testimony_input{
     width: 250px;
  }
}
.new_testimony_container_btn{
  display: flex;
  justify-content:center;

  .button-primary{
  margin-bottom: 30px;
  margin-top: 20px;
  }

}
.new_testimony_wrapper{
  width: 100%;
  display: flex;
  justify-content:space-between;
  .content{
    // flex-grow: 1;
  }
}

.testimony_wrapper_header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  .content{
    padding-right : 10px;
    margin-bottom: 10px;
  }
}

.testimony_wrapper_upload{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  .content:first-child{
    grid-column: 1/ span 1;
    grid-row: 1/ span 3;
  }
  .cerfa{
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

.card-action-testimony{
  display: flex;
  width: 100%;
  height: 120px;
  margin: auto;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  margin-bottom: 16px;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 250px 100px 300px 1fr ;
  grid-column-gap: 5px;
}
