.toggle-content {
  display: none;
}

.toggle-content.is-visible {
  display: block;
}

.tickable {
  margin-right: 8px;
  font-size: 20px;
  color: $my-purple;
}


.container_thanks{
  background-color:#FCECE1;
  display:flex;
  justify-content:center;
  padding: 5px;
  p{
    margin-top: 10px;
  }
}

.container-actions{
  text-align: left;
  .anonyme{
    padding-top: 10px;
  }
}
