<div class="row header-banner">

  <div class="container">

    <div class="row justify-content-center mt-3">
      <div class="stepper">
        <div class = "center-step" >
          <p class="circle">1</p>
          <p class="step-title">Événement</p>
        </div>
        <div class = "center-step active">
          <p class="circle">2</p>
          <p class="step-title">Localisation</p>
        </div>
        <div class = "center-step">
          <p class="circle">3</p>
          <p class="step-title">Recommandations</p>
        </div>
      </div>
    </div>

  </div>
</div>
