<div class="navbar navbar-expand-sm navbar-light navbar-lewagon justify-content-center">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item d-flex flex-column align-items-center mr-5">
        <span class="step">1</span>
        <span class="step-title">Evènement</span>
      </li>
      <li class="nav-item d-flex align-items-center mr-5">
        <span class="line"></span>
      </li>
      <li class="nav-item d-flex flex-column align-items-center mr-5">
        <span class="step">2</span>
        <span class="step-title">Description</span>
      </li>
      <li class="nav-item d-flex align-items-center mr-5">
        <span class="line"></span>
      </li>
      <li class="nav-item d-flex flex-column align-items-center mr-5">
        <span class="step">3</span>
        <span class="step-title">Localisation</span>
      </li>
    </ul>
  </div>
</div>
