<div class="row header-banner">
  <div class="container my-3">
    <p><%= link_to "Accueil", root_path %></p>
    <h1>Erreur</h1>
  </div>
</div>

<div class="container">

  <div class="error">
    <h5> 500 - erreur serveur interne</h5>
    <p><%= link_to "Accueil", root_path %></p>
  </div>

</div>
