<h4><%= incident.date.strftime("Incident survenu le %d/%m/%Y") %></h4>
<p class="mb-0"><%= incident.address %></p>
<p class="mt-2">Catégorie: <strong><%= incident.incident_category.name %></strong></p>
