<div class="row header-banner">
  <div class="container my-5">
    <h1>Statistiques</h1>
  </div>
</div>

<div class="row stats-white">
  <div class="container my-5">
    <h2>Déjà plus de...</h2>
    <div class="d-flex justify-content-between my-5">
      <div class="card-stats">
        <h2><strong>128</strong></h2>
        <p>actes signalés</p>
      </div>
      <div class="card-stats">
        <h2><strong>128</strong></h2>
        <p>actes signalés</p>
      </div>
      <div class="card-stats">
        <h2><strong>128</strong></h2>
        <p>actes signalés</p>
      </div>
    </div>
  </div>
</div>
