<div class="container">
  <div class="d-inline-flex">
    <p>Accueil > Dashboard > </p>
    <p class="font-weight-bold pl-1">Mes preuves</p>
  </div>
  <div>
  <h1>Ajout de preuves</h1>
  </div>
  <p>Find me in app/views/proofs/index.html.erb</p>
</div>
