.alert {
  display: flex;
  padding-bottom: 0;
  margin-bottom: 0;
  color: white;
  background-color: #C78283;
  border-color: #C78283;
  .circle {
    border-color: white;
    position: relative;
    top: 6px;
    bottom: 6px;
  }
  p {
    font-weight: 400;
  }
  i {
    position: relative;
    right: 16px;
    top: -4px;
    left: 50px;
    font-size: 27px;
  }
  i:hover {
    cursor: pointer;
  }
}
