.header-banner {
  background-color: $my-light-blue;
}

.header-banner-form{
  background-color: #372C44;
  height: 150px;
}

.file-banner {
  background-color: $my-light-blue;
  text-align: center;
}
