.card-launch {
  padding: 8px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
  width: 209px;
  height: 150px;
  margin: 8px;
  border-radius: 2px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
  justify-content: space-around;
  align-items: center;
  background-color: white;
  p {
    line-height: 18px;
    color: grey;
    padding-top: 0px;
    margin-top: 8px;
    margin-bottom: 0px;
  }
  h4 {
    line-height: 22px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  // .arrow {
  //   margin-left: 8px;
  // }
  .label {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
}

.card-launch:hover {
  background-color: #7D4E60;
  color: white;
  cursor: pointer;
  p {
    color: white;
  }
}


.card-floating {
  padding: 8px;
  margin: 16px;
  width: 380px;
  height: 180px;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
}


.card-stats {
  background-color: white;
  width: 250px;
  text-align: center;
  padding: 16px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}


.card-action {
  display: flex;
  width: 100%;
  height: 65px;
  margin: auto;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  margin-bottom: 16px;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  border-radius: 4px;
  i {
    font-size: 36px;
    color: $my-purple;
  }
}

.card-action-no-hover {
  display: flex;
  width: 100%;
  height: 65px;
  margin: auto;
  margin-bottom: 16px;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  border-radius: 4px;
  i {
    font-size: 36px;
    color: $my-purple;
  }
}

.card-action:hover {
  background-color: $my-light-gray;
  cursor: pointer;
  i {
    color: $my-gray;
  }
}

.show-button {
  .button-primary {
    width: 130px;
  }
}

.show-signal {
   display: none;
}

.card-launch:hover .show-signal{
   display : block;
 }

#card-dashboard {
  h5{
    font-size: 18px;
  }
  text-align: center;
  width: 200px;
  height: 200px;
}

#button-dashboard-card{
  margin: 0 auto;
}
