.checkbox-hidden {
  display:none;
}

.no-style {
  border: none;
  background-color: #F8F8F8;
}

.no-style:hover {
  border: none;
}

.no-style:focus,.no-style:active {
   outline: none !important;
   box-shadow: none;
}

.no-radio {
  input {
    visibility:hidden;
    padding: 0;
  }
}

.questions {
  p{
    font-size: 14px;
  }
}

#list-advice {
  font-size: 20px;
}
