.step-title {
  color: white;
  font-size: 16px;
}

// .line {
//   border-bottom: 1px solid;
//   border-color: $my-gray;
//   width: 50px;
// }

.stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.center-step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  margin-right: 25px;
  line-height: 2.2px;
  color: white;
}

.center-step:first-child {
  padding-right: 10px;
}

.active {
  .circle {
    border: 3px solid $my-light-gray;
    font-weight: 600;
    line-height: 34.1px;
    color: $my-gray;
    background-color: $my-light-gray;
  }
  .step-title {
    color: $my-light-gray;
    font-size: 18px;
    font-weight: 500;
  }
}
