.step-title {
  color: $my-gray;
}

// .line {
//   border-bottom: 1px solid;
//   border-color: $my-gray;
//   width: 50px;
// }

.stepper {
  display: flex;
  align-items: center;
  justify-contenr: center;
}

.center-step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
}

.active {
  .circle {
    border: 3px solid;
    font-weight: 700;
  }
  .step-title {
    font-weight: 700;
  }
}
