<head>
  <meta charset=”utf-8″>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>

<div class="container"></div>

<h1>Contenu du temoignage</h1>

<hr>

<div>
  <h4> Type d'incident : <%= @report.incident.incident_category.name %></h4>
  <% if @report.incident.recurrent %>
  <p> Il s'agit d'un acte répété et potentiellement un acte de harcèlement. </p>
<% end %>
</div>

<div>
  <h4> Date de l'incident : </h4>  <p><%= @report.incident.date %></p>
</div>

<h4>Description de l'incident :</h4>
<p> <%= @report.incident.description %> </p>
