<h1>Reports#show</h1>
<p>Find me in app/views/reports/show.html.erb</p>

<%= link_to "Cliquez pour ouvrir le rapport", cl_image_path(@report.photo,:width=>200, :height=>250, :page=>1, :crop=>"fill") %>
